.top-table {
    padding: 8%;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-color: rgb(197,197,197);
    border-width: 1px;
    position: flex;
    border-radius: 0px 0px 10px 10px;
}
