#widget-card {
    padding: 11px !important;
}

#widget-temperature {
    font-size: 42px;
}

#widget-title {
    padding-bottom: 0px;
    word-wrap:break-word;
}

#widget-city {
    padding-bottom: 15px;
}

#widget-wind {
    margin: 5px 10px 0px 0px;
}

#windget-wind-info {
    font-size: 11px;
}