#widget-card {
    padding: 11px !important;
}

#widget-temperature {
    font-size: 42px;
}

#widget-title {
    padding-bottom: 0px;
}

#widget-city {
    padding-bottom: 15px;
}

#widget-wind {
    margin: 5px 10px 0px 0px;
    font-size: 12px;
}